<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button (click)="toggleSideBar()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>
      <img
        src="../../../../assets/images/logo1.png"
        width="150px"
        height="100px"
      />
    </span>
    <div fxFlex fxLayout="row" fxLayoutAlign="flex-end" class="flexgap">
      <ul fxLayout="row">
        <li>
          <button class="btn btn-primary" [matMenuTriggerFor]="menu" (click)= "loginclick()">
            <span>
              <mat-icon style="vertical-align: bottom;">
                person_add
              </mat-icon>Login
              <mat-icon style="vertical-align: bottom;" [hidden]="closed">expand_less</mat-icon>
              <mat-icon style="vertical-align: bottom;" [hidden]="!closed">expand_more</mat-icon>
            </span>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item  routerLink="/user_login">User Login</button>
            <button mat-menu-item routerLink="/verfier_login">Verifier Login</button>
          </mat-menu>
        </li>
        <li>
          <!-- <button mat-icon-button  > -->
            <button class="btn btn-primary" routerLink='/Registration'>
            <mat-icon style="vertical-align: bottom;">group_add</mat-icon>
            <a class="logintext">Register</a>
          </button>
        </li>
        <!-- <li>
          <button mat-icon-button routerLink='/Registration' *ngIf = "validuser">
            <mat-icon>group_add</mat-icon>
            <a class="logintext">Logout</a>
          </button>

        </li> -->
      </ul>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
